body{
    margin: 0;
    background-color: aqua;
}

div{
    background-color: blueviolet;
}

.nav-wrapper{
    display: flex;
    background-color: #FF1D00;
}

.brand-logo{
    width: 150px;
    height: 86px;
}