html{
    /*background-color: #f5f5dc;*/
    background-color: #f5f5f5;
    margin: 0;
}

body{
    margin: 0;
    background-color: transparent !important;
}

/*HEADER*/
.nav-header-geral{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #39a1e6;
    
}

.logo{
    justify-content: left;
    width: 215px;
    height: 70px;
}

.header-centro{
    a{
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-family: "SUSE", sans-serif;
        font-size: 32px;
        color: #0C0C0C;
    }

    a:after{
        content: "|";
        margin-left: 12.5px;
    }

    li:last-child a::after{
        content: "";
    }

    justify-content: center;
    margin: 0%;

}

.centro{
    padding-top: 14px;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 12.5px;
}

.botoes-direita{
    transition: background-color 0.3s;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #39a1e6
}

.dark-mode {
    background-color: #0a0a23;
    #userButton, #darkModeButton{
    background-color: #ececec;
    }
}

#userButton, #darkModeButton{
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #39a1e6;
    color: #0C0C0C;
}


/*FOOTER*/
footer{
    width: 100%;
}
.footer-redesocial{
    gap: left ;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-right: 4px solid #000;
    border-left: 4px solid #000;
    border-top: 4px solid #000;
    padding: 25px 20px 10px 20px;
    background-color: #39a1e6;
    margin-top: 80px;
}

.logo-social{
    margin-left: 35px;
    justify-content:center;
    width: 225px;
    height: 70px;
}

.fab{
    margin-right: 10px;
}

.footer-opcoes{
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-right: 4px solid #000;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    padding: 0px 20px 25px 20px;
    background-color: #39a1e6;
    margin: 0px;
}

.footer-ajuda{
    a{
        cursor: pointer;
        font-size: 18px;
        color: #0C0C0C;
    }
    a:after{
        content: "|";
        margin-left: 12.5px;
    }

    li:last-child a::after{
        content: "";
    }

    justify-content: center;
    margin: 0%;
}

.ajuda{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 15px;
}

/* CONTEUDO SEÇÃO ! */
section{
    margin-left: 160px;
    margin-right: 160px;
    gap: 15px;
}

.conteudo-secao{ 
    justify-content: space-around;
    align-items: center;
    font-family: "SUSE", sans-serif !important;
    
    img{
        border-radius: 50px;
        width: 332px;
        height: 221px;
    }

    h1{
        font-family: "Handjet", sans-serif;
        text-align: center;
        font-weight: 800;
        background-color: rgb(43, 150, 226);
        margin-bottom: 50px;
        border-radius: 12px;
    }

    h2{
        text-align: center;
    }

    p{
        text-align: center;
        margin-bottom: 0px;
    }
    
    .tagfilme{
        cursor: default;
        font-family: "Nerko One";
        color: #000;
        background-color: mediumaquamarine;
        margin: auto;
        border: none;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .Fix{
        position: absolute;
    }

}

.conteudo-fila{
    display: flex;
    gap: 35px;
    padding-bottom: 35px;

    .card{
        border-radius: 20px;
        padding: 20px;
        border: none;
        width: 374px;
    }

    .star-wars{
        background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(0,0,0,1) 100%);
    }

    button{
        border-radius: 50px;
    }
}